.parallax-wrapper {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.parallax-container {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    min-height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 30px;
}

.static-container {
    display: flex;
    position: relative;
    background-color: white;
    z-index: 1;

    padding: 30px;
}