/* General */
body,html {
    margin:0;
    padding:0;
    font-family: Arial;
    font-size: 20px;
}

h1 {
    text-align: center;
    width: 100%;
}

img.circle {
    border-radius: 50%;
}

div.section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Flex Extras */
div.flex-grid {
    display: flex;
}
div.col {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

div.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}

div.flex-grid-thirds .col {
    width: 32%;
}

/* Home Page */
div.navbar {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 30px;
    font-size: 3vh;
    width: 200px;
}

div.navbar div {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

div.navbar div a {
    color: black;
    text-decoration-line: none;
}

div.navbar div a:hover {
    text-decoration-line: underline;
}

div.header {
    display: flex;
    height: 60%;
    padding: 30px;
    align-items: center;
}
@media (max-width : 1040px) {
    div.header {
        margin-top: 60px;
        display: flex;
        height: 60%;
        padding: 30px;
        align-items: center;
        flex-direction: column-reverse;
    }
    div.navbar div {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }
}


/* About Page */
div.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center
}
div.about p {
    margin: 20px;
    margin-left: 80px;
    max-width: 50%;
}
@media (max-width : 870px) {
    div.about p {
        margin: 20px;
        max-width: 100%;
    }
}

/* Skills & Services */
div.services {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}
div.services div {
    width: 30%;
    text-align: center;
    min-width: 200px;
}

/* Portfolio */
div.portfolio {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

div.portfolio div{
    text-align: center;
    margin: 40px;
}